In [134]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv("concrete_data.csv")
df

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30
...,...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [135]:
df.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [136]:
df.tail()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28,44.28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28,31.18
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28,23.70
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28,32.77
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28,32.40

In [137]:
df.shape

(1030, 9)

In [138]:
df.dtypes

Cement                float64
Blast Furnace Slag    float64
Fly Ash               float64
Water                 float64
Superplasticizer      float64
Coarse Aggregate      float64
Fine Aggregate        float64
Age                     int64
Strength              float64
dtype: object

In [139]:
df.isna().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [140]:
x=df.iloc[:,:-1]
x

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360
...,...,...,...,...,...,...,...,...
1025,276.4,116.0,90.3,179.6,8.9,870.1,768.3,28
1026,322.2,0.0,115.6,196.0,10.4,817.9,813.4,28
1027,148.5,139.4,108.6,192.7,6.1,892.4,780.0,28
1028,159.1,186.7,0.0,175.6,11.3,989.6,788.9,28
1029,260.9,100.5,78.3,200.6,8.6,864.5,761.5,28

In [141]:
y=df.iloc[:,-1]
y

0       79.99
1       61.89
2       40.27
3       41.05
4       44.30
        ...
1025    44.28
1026    31.18
1027    23.70
1028    32.77
1029    32.40
Name: Strength, Length: 1030, dtype: float64

In [142]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.30,random_state=0)
x_train

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
772,382.0,0.0,0.0,186.0,0.0,1047.0,739.0,7
997,310.0,142.8,0.0,167.9,10.0,914.3,804.0,28
724,310.0,0.0,0.0,192.0,0.0,1012.0,830.0,90
167,475.0,118.8,0.0,181.1,8.9,852.1,781.5,91
764,385.0,0.0,0.0,186.0,0.0,966.0,763.0,3
...,...,...,...,...,...,...,...,...
277,251.4,0.0,118.3,188.5,5.8,1028.4,757.7,56
763,385.0,0.0,0.0,186.0,0.0,966.0,763.0,1
835,144.0,0.0,175.0,158.0,18.0,943.0,844.0,28
559,239.6,359.4,0.0,185.7,0.0,941.6,664.3,28
684,192.0,288.0,0.0,192.0,0.0,929.8,716.1,90

In [143]:
x_test

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
747,500.0,0.0,0.0,200.0,0.0,1125.0,613.0,3
718,122.6,183.9,0.0,203.5,0.0,958.2,800.1,7
175,362.6,189.0,0.0,164.9,11.6,944.7,755.8,91
828,522.0,0.0,0.0,146.0,0.0,896.0,896.0,28
713,157.0,236.0,0.0,192.0,0.0,935.4,781.2,3
...,...,...,...,...,...,...,...,...
156,286.3,200.9,0.0,144.7,11.2,1004.6,803.7,56
222,166.1,0.0,163.3,176.5,4.5,1058.6,780.1,56
665,173.0,116.0,0.0,192.0,0.0,946.8,856.8,7
210,230.0,0.0,118.3,195.5,4.6,1029.4,758.6,14
306,277.1,0.0,97.4,160.6,11.8,973.9,875.6,28

In [144]:
y_train

772    24.00
997    45.30
724    35.76
167    74.19
764    14.70
       ...
277    36.97
763     6.27
835    15.42
559    39.44
684    50.73
Name: Strength, Length: 721, dtype: float64

In [145]:
y_test

747    26.06
718    10.35
175    79.30
828    74.99
713     9.69
       ...
156    72.99
222    28.63
665    11.39
210    20.08
306    48.28
Name: Strength, Length: 309, dtype: float64

In [146]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
y_pred=lr.predict(x_test)
y_pred

array([39.47333647, 14.08181113, 60.90617502, 53.49216504, 23.95652105,
       53.38494262, 45.65496577, 26.92130645, 52.88683822, 37.13787653,
       16.55157144, 38.81020387, 29.47532698, 35.14012862, 47.80046883,
       56.45734447, 35.43954133, 29.20286434, 48.34810942, 35.12300254,
       53.44653832, 31.87269795, 32.38089157, 47.90405414, 23.4547955 ,
       23.32931202, 69.81924352, 26.29647636, 56.45734447, 47.80199424,
       18.7288124 , 36.32839137, 17.2570425 , 19.75384858, 24.46017771,
       15.0536384 , 52.94088734, 27.79184471, 26.73627367, 25.95801099,
       52.51684761, 30.33783679, 26.02387955, 35.01487363, 53.0415329 ,
       54.01405889, 30.33153322, 43.96402577, 27.4875974 , 56.65557931,
       36.417551  , 19.18663184, 23.29973858, 34.35993512, 43.00786877,
       47.19325832, 35.40203995, 52.88814999, 59.89779143, 36.30933765,
       30.98904611, 20.58209173, 50.33598027, 55.61201479, 20.36535531,
       43.7742249 , 33.02778975, 33.64838249, 19.28329823, 19.9738019 ,
       28.0418632 , 27.54663036, 54.45811418, 19.5204554 , 35.98644926,
       50.57361194, 27.99824041, 19.03370807, 23.99158902, 27.9980439 ,
       18.05770524, 44.34203141, 32.62669441, 32.65063275, 38.23138954,
       34.63037387, 48.82213585, 50.33815132, 38.90208445, 30.95905686,
       52.70521493, 20.50218913, 25.70015441, 36.99373483, 26.13684533,
       55.40941471, 32.23952809, 33.65321597, 51.29521302, 27.09997602,
       29.71392986, 37.81779074, 25.24467223, 31.55051916, 33.68030869,
       35.19294926, 39.25035201, 32.21757688, 27.92981164, 39.47714055,
       18.01056282, 49.01269193, 25.16400567, 32.62331804, 39.83777738,
       63.61347217, 31.12155832, 35.33369027, 40.86568987, 31.40216601,
       42.248682  , 25.26327328, 60.89255632, 26.36693998, 17.85285197,
       19.81226919, 15.63112832, 18.82065889, 39.8089991 , 32.35490278,
       29.8572707 , 47.12912046, 33.56880904, 24.94548599, 18.9510746 ,
       54.2618131 , 60.86663768, 36.25904815, 11.07665312, 18.4546181 ,
       38.07492329, 46.61919337, 32.6733085 , 18.24493881, 16.4525743 ,
       35.42094262, 48.00686107, 25.32646786, 27.44302378, 16.44283247,
       24.68756768, 28.2424713 , 26.44404691, 19.24392149, 30.89142184,
       30.62018889, 47.84262582, 30.25121785, 30.50027975, 22.32000741,
       38.45797943, 41.48510447, 23.87277413, 25.78608575, 32.74835206,
       22.69567195, 55.63572513, 53.34895747, 57.1655064 , 11.10300521,
       31.02302012, 33.41880123, 24.4517045 , 58.26613234, 20.98549919,
       21.55877585, 16.97910827, 48.7324467 , 23.45497986, 39.00499347,
       32.54599458, 31.331791  , 18.96286165, 38.08788662, 30.8696604 ,
       27.87292797, 40.32908072, 39.51208035, 27.79657615, 50.33598027,
       21.20082243, 72.92763052, 44.20144004, 27.73733145, 14.26032001,
       28.69191053, 31.40202561, 27.88196287, 30.57130021, 58.40058015,
       17.63243834, 20.85447452, 41.14974933, 30.97675269, 33.14262114,
       23.59159444, 39.00821545, 30.38658537, 31.12486221, 25.20439925,
       49.13153893, 22.77992789, 22.79658115, 22.3316735 , 26.12677842,
       21.46967987, 22.15415753, 39.25130882, 19.64662893, 39.75730269,
       57.23884816, 31.64665518, 38.97157168, 35.89660647, 41.16206996,
       35.76005955, 25.55309621, 32.21172719, 33.98868026, 45.18517781,
       36.46827809, 37.02476784, 61.09730193, 21.05307392, 35.42692685,
       31.15973953, 31.66763896, 35.83686148, 30.37298152, 59.43840506,
       58.82461987, 27.1466326 , 42.20901821, 32.86780721, 27.54914669,
       30.88469137, 48.96392277, 27.94665884, 34.82220814, 15.77149623,
       11.67957271, 39.91657438, 36.06433572, 30.65501736, 38.50048482,
       21.66029877, 24.43927959, 19.58298523, 61.29822435, 30.12928037,
       38.51042695, 70.42246293, 43.64688272, 34.50667377, 30.45629651,
       48.58613142, 32.4892754 , 34.87728483, 25.56662092, 32.9656577 ,
       54.40360002, 30.57192169, 25.8484887 , 37.33915344, 32.49288122,
       52.78660378, 35.97273993, 29.10334019, 55.40757597, 23.2959583 ,
       23.18266545, 40.10212183, 51.41369569, 40.59313628, 25.0493338 ,
       36.90378593, 34.17751154, 45.41817078, 60.66970724, 27.66876528,
       29.26301523, 55.99653699, 33.45962166, 37.90632197, 63.78327518,
       28.03480607, 51.01766722, 35.48907312, 36.9302725 , 34.508228  ,
       28.02791932, 44.14335306, 21.28236485, 16.90383452, 54.16841517,
       27.0583694 , 15.49769369, 22.30922803, 36.34903627])

In [147]:
from sklearn.metrics import mean_absolute_error
MAE=mean_absolute_error(y_test,y_pred)
MAE

7.775625710189035

In [148]:
from sklearn.metrics import mean_absolute_percentage_error
MAPE=mean_absolute_percentage_error(y_test,y_pred)
MAPE

0.30399656208704356

In [149]:
from sklearn.metrics import mean_squared_error
MSE=mean_squared_error(y_test,y_pred)
MSE

93.61873598596337

In [150]:
from sklearn.metrics import root_mean_squared_error
RMSE=root_mean_squared_error(y_test,y_pred)
RMSE

9.675677546609506

In [151]:
from sklearn.metrics import r2_score
score=r2_score(y_test,y_pred)
score

0.6352987285077925

In [152]:
from sklearn.preprocessing import PolynomialFeatures
poly=PolynomialFeatures(degree=2)
x_train_poly=poly.fit_transform(x_train)
x_test_poly=poly.fit_transform(x_test)

In [153]:
lr1=LinearRegression()
lr1.fit(x_train_poly,y_train)
y_pred1=lr1.predict(x_test_poly)
y_pred1

array([34.87917021, 11.19388536, 77.35308616, 55.16350404, 15.9615508 ,
       57.36824756, 50.73726784, 23.80807662, 60.85379977, 49.541905  ,
       15.80496552, 50.93871375, 32.94502626, 23.27983736, 55.80632633,
       68.51187726, 30.049135  , 36.63565814, 50.5719649 , 33.06972478,
       59.43915228, 38.41280054, 28.74677975, 49.53100121, 21.8915282 ,
       23.86671583, 52.53947561, 24.22581107, 68.51187726, 61.71682688,
       17.66634031, 44.53047741, 19.85982908, 29.53785187, 23.47960785,
        9.81689889, 56.19618214, 21.37454201, 22.68932566, 22.06060422,
       47.11277104, 38.86455326, 29.78430501, 34.14201745, 56.26921061,
       42.29521192, 29.63779745, 41.93711224, 30.24764135, 35.6406097 ,
       41.00172437, 22.21812959, 27.7700713 , 45.25936902, 58.07425072,
       46.9816839 , 36.11988238, 58.88907642, 64.34265319, 41.42509403,
       33.19831156, 15.52821585, 53.33580634, 33.47356198, 16.17583012,
       44.11678017, 37.24574807, 21.89635416, 15.21798891, 18.56607339,
       22.46274178, 26.43188042, 44.08499221, 19.46839774, 33.85686328,
       49.54755366, 28.74021838, 16.60714438, 27.89464017, 33.17251183,
       10.96552095, 56.18897524, 27.01527956, 29.37527492, 42.78135142,
       33.55610565, 36.45940916, 48.44682217, 38.74830282, 36.80048792,
       63.01104463, 17.51584397, 20.12914876, 35.28780435, 16.63291572,
       54.96087352, 24.27548233, 40.84547206, 44.80316228, 34.24880143,
       25.12941095, 36.59464373, 29.13611303, 24.19757419, 41.01256179,
       41.08633393, 45.28658635, 23.64395125, 29.63590252, 41.61049985,
       12.52966267, 54.78500358, 20.78593032, 29.57969162, 44.87933845,
       67.24423436, 33.24464674, 41.4964273 , 50.28916037, 25.28880816,
       40.63737598, 20.22615906, 69.44633639, 23.8144525 , 11.84165208,
       13.86767472, 13.32198607, 13.08362193, 43.55916264, 37.99943879,
       25.50601649, 46.90921099, 27.83644409, 31.33679414,  4.80533384,
       56.44998898, 35.50846503, 35.46604496,  3.70376908, 13.744561  ,
       46.98782212, 47.7751726 , 23.77586786, 36.48936772, 14.41059768,
       42.03115096, 39.5420067 , 18.77537753, 31.15779156, 15.83299506,
       17.25284915, 16.49963316, 24.83705748, 28.42481837, 40.07918285,
       32.19666216, 37.16352745, 29.67438466, 34.87618802, 22.85017606,
       43.19928588, 33.64723465, 13.97696668, 26.92646805, 32.77590513,
       12.64477794, 37.32850007, 58.94235523, 34.38238056,  6.53721428,
       43.18950471, 44.25158694, 25.78124356, 31.6210027 , 14.26917265,
       14.93293764, 11.9339802 , 42.29980837, 26.20826816, 44.78639949,
       22.33322548, 23.77283365, 17.98298488, 56.90734856, 21.99394978,
       37.00279889, 48.45468624, 43.88931356, 24.413709  , 53.33580634,
       24.65630581, 64.21442793, 51.26654361, 34.80676957,  7.7099566 ,
       37.29488125, 38.59002001, 30.83941973, 33.50887642, 67.83139927,
       18.67878471, 22.11208474, 36.88115557, 28.36684711, 37.30356825,
       14.81156903, 41.66306714, 32.48179281, 43.31534172, 19.04898834,
       51.45504097, 18.54713523, 17.16194355, 24.27590401, 40.69762233,
       30.02520496, 21.75761852, 34.38384838, 21.1075608 , 42.61840913,
       63.32726332, 20.20503632, 38.81246265, 35.15320406, 36.72846815,
       46.50893107, 26.03884978, 37.93023341, 25.89579828, 44.68207432,
       34.97378841, 38.0360877 , 55.10381272, 20.83074227, 45.39513102,
       24.27918354, 39.17988605, 39.23130649, 23.35173865, 68.40252023,
       70.05890139, 41.77498796, 42.75996872, 24.45154005, 25.1321397 ,
       24.90868737, 35.85133952, 28.69366389, 41.95385133, 11.91718191,
        7.58219427, 47.08428249, 46.51914639, 34.58050798, 41.83908037,
       22.46845133, 28.06441607, 15.86141279, 36.19479872, 40.96286159,
       45.36438181, 85.35047979, 48.63654882, 34.2871493 , 36.18179575,
       67.69366746, 34.42558906, 29.57370503, 20.61351144, 34.80516533,
       55.85816878, 32.69272245, 29.74640963, 47.47253978, 40.14156339,
       47.99279869, 46.45750466, 29.64981585, 56.67853247, 31.78869262,
       13.13344391, 45.01020833, 52.40908772, 45.76536837, 20.63344099,
       38.40373645, 34.81613307, 55.37780779, 77.23433661, 34.31817117,
       26.29926164, 68.42842093, 31.50711865, 41.08440213, 76.92507421,
       36.59509969, 51.10464582, 41.33627611, 37.53305679, 35.14905701,
       34.94000137, 53.41832692, 10.01583625, 14.64835714, 63.81995705,
       31.36163135, 11.05999652, 18.61499753, 33.15322431])

In [154]:
score=r2_score(y_test,y_pred1)
score

0.7587837045260826